/*Creeamo*/
section h2{
    color: red;
}

#titulo{
    color: red;
}

#logo{
    margin-top: 200px;
}
/*selectores con dos clases*/

.azul.tituloCurso{
    color: yellow;

}

img#logo{

    width: 500px;

}

/*Elementos html  clases*/

section.seccion{
    background-color: orange;
}
div.noticia{
    background: blue;
}
/*Selecto univesal*/



#listado-cursos *{
    font-size: 70px;
}
.noticia *{
    font-size: 70px;
}

h2,h3,p,a{
    text-transform: uppercase;
}

nav ul li {
    display: inline;
}

ul#listado-cursos li ul > li {
    color: green;
}

ul#listado-cursos + p {
    background-color: greenyellow!important;
}
a[href*="google.com"]
    {
        background-color: blueviolet;
    }

/*Selectores atributo*/
[id="noticias"]
{
    background-color: crimson!important;
}

div.menu nav ul li a:focus,
div.menu nav ul li a:active,
div.menu nav ul li a:visited{
    color: yellow;
}

div.menu nav ul li a:hover{
    color: orchid;
}

div.menu nav ul li:first-child a{
    text-decoration: none!important;
}

div.menu nav ul li:nth-child(odd){
    background-color: fuchsia;
}

